@import:url(./first task.css)[all];
#header{
border-radius:0 0 10px 10px;
width:100%;
height:100px;     
background:gray;    
}
#u h2{
margin-top:-80px;
margin-left:50px;     
}
#main{
margin-top:100px; 
background-color:LightGray;
width:1890px;
height:800px;
border-radius:10px 10px 10px 10px;     
}
#m h2{
margin-top:-700px;
font-size:60px;
text-align:center; 
}
#button{
background-color:lightskyblue;
border-radius:10px 10px 10px 10px;
width:150px;
height:50px;
margin-left:35%;
margin-top:300px;     
}
#button h3{
color:white;
}
#footer{
border-radius:10px 10px 0 0;
width:100%;
height:100px;     
background:black;
margin-top:200px;     
}
#h3{
margin-top:-60px;
color:white;
font-size:30px;
text-align:center; 
}
