body{
 background:lightgray;    
}
/*header*/
#header{
display:flex;     
}
#header .logo{
background:mediumseagreen;
margin-left:5%;
margin-right:5%; 
width:50%;
height:10%; 
}
.font{
font-size:300%;     
}
@media(max-width:700px){
    #header .logo{
      margin-left:1%;
      margin-right:1%;  
    }    
}/*header*/

/*topmenu*/
#topmenu{
background:palegoldenrod;
width:100%;
height:100px;
display:flex;
margin-top:2%; 
}
#topmenu .paragraph{
display:flex; 
margin-left:5%; 
margin-right:5%;
margin-top:1%; 
width:100%;
height:50px;
background:mediumseagreen;     
}
#topmenu .paragraph h2{
padding:0 10%;
margin-top:7%;     
}
@media (max-width:700px){
    #topmenu .paragraph{
    display: flex;    
    flex-direction: row;
    width:100%;     
    margin-left:1%;
    margin-right:1%;
    margin-top:3%;     
    }   
}/*topmenu*/

/*content*/
#content{
display: flex;    
}
/*rightmenu*/
#content #right .rightmenu{    
background:mediumseagreen;
width:250%;
height:30px;
}/*rightmenu*/

/*images*/
#content #img .images{
margin-top:3%; 
margin-left:20%;
margin-right:5%;
width:23%;
height:45%; 
}
@media(max-width:700px){
#content #img .images{
margin-top:3%; 
margin-left:30%;
width:60%;
height:25%; 
} 
}
/*images*/
/*content*/

/*footer*/
footer{
background:mediumseagreen; 
width:100%;
height:300px;
margin-top:200px;
}
footer h2{ 
padding:5% 0%; 
font-size:60px;   
}
@media(max-width:700px){
    footer h2{
    padding:15% 0%;     
    }    
}

/*footer*/

