$color:lightgray;
$color-2:mediumseagreen;
$color-3:palegoldenrod;
$margin:5%;
$magin-2:1%;
$font:300%;
$max:700px;

body{
 background:$color;    
}
/*header*/
#header{
  display:flex; 
  .logo{
    background:$color-2;
    margin-left:$margin;
    margin-right:$margin;
    width:50%;
    height:10%;       
  }  
}
.font{
 font-size:$font;    
}
@media(max-width:$max){
#header{
   .logo{
     margin-left:$magin-2;
     margin-right:$magin-2;    
   } 
}
}
/*header*/

/*topmenu*/
#topmenu{
background:$color-3;
width:100%;
height:100px;
display: flex;
margin-top:2%;
.paragraph{
 background:$color-2;  
 display:flex;
 margin-left:$margin;
 margin-right:$margin;
 margin-top:$magin-2; 
 background:$color-2; 
 width:100%;
 height:50px;        
} 
.paragraph{
 h2{
  padding:0 10%;
  margin-top:7%;     
 }   
}       
}
@mixin media {
#topmenu{
.paragraph{
display:flex;
flex-direction: row;
width:100% ;
margin-left:$magin-2;
margin-right:$magin-2;
margin-top:3%;        
}
}    
}
@media(max-width:$max){
@include media;   
}/*topmenu*/

/*content*/
/*rigthmenu*/
#content{
 display: flex;
 #right{
  .rightmenu{
   background:$color-2;
   width:250%;
   height:30px;  
  } 
 } 
}
/*rightmenu*/

/*images*/
#content{
 #img{
  .images{
  margin-top:3%;
  margin-left:20%;
  margin-right:$margin;
  width:23%;
  height:45%;           
  }   
 }   
}
@media(max-width:$max){
#content{
#img{
 .images{
  margin-top:3%;
  margin-left:30%;
  width:60%;
  height:25%;      
 }   
}    
}    
}/*images*/
/*content*/

/*footer*/
%footer{
background:$color-2;
width:100%;
height:300px;
margin-top:200px;

h2{
padding:5% 0%;
font-size:60px;      
}
}
footer{
 @extend %footer;   
}
@media(max-width:$max){
 footer{
 h2{
  padding:15% 0%;     
 }    
 }   
}
