#main{
border:5px solid black;
width:50%;
height:auto;       
margin-left:20%;
margin-top:10%;     
}

#main #part1{
border:10px solid red;
background:red;
width:7.5%;
padding:20%;     
}
#main #part2{
border:10px solid blue;
background:blue;
width:7.5%;
padding:20%;
margin-left:50%;     
}
#part3{
 border:10px solid green;
background:green;
width:7%;
padding:13%; 
margin-top:-35%;
margin-left:29%;     
}
